{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-4">
    <table class="table">
        <tr>
            <th>Catégorie</th>
            <th>Sujet</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td style="font-size: 20px">{{ post.category.name }}</td>
                <td>
                    <a title="{{ post.title }}" href="{{ path('post_show', { 'id': post.id}) }}">
                        {{ post.title|length > 50 ? post.title|slice(0, 50) ~ '...' : post.title }}
                    </a><br/>
                    {{ post.createdat|date('d/m/Y H:i') }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
