{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Liste des messages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Auteur</th>
                <th>Contenu</th>
                <th>Créé à</th>
                <th>Article</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td><a href="{{ path('message_show', { 'id': message.id }) }}">{{ message.id }}</a></td>
                <td>{{ message.autor }}</td>
                <td>{{ message.content|length > 50 ? message.content|slice(0, 50) ~ '...' : message.content  }}</td>
                <td>{% if message.createdAt %}{{ message.createdAt|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{{ message.post.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('post_show', { 'id': message.post.id }) }}">voir</a>
                        </li>
                        <li>
                            <a href="{{ path('message_edit', { 'id': message.id }) }}">editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}