{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>{{ post.title }}</h1>
    <hr/>
    <div class="row">
        <div class="post">
            <div class="col-md-2 text-center" style="border-right: 1px solid #333;">
                <img src="{{ asset('assets/images/pp.png') }}" width="100px" height="100px" alt="pp" class="img-responsive center-block">
                <h3>{{ post.autor }}</h3>
            </div>
            <div class="col-md-10">
                <p>
                    {{ post.content }}
                </p>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_USER') %}
        <h2>Poster un commentaire</h2>
        {{ form_start(message_form) }}
        {{ form_widget(message_form) }}
        <input class="btn btn-primary" type="submit" value="Envoyer" />
        {{ form_end(message_form) }}
    {% else %}
        <br/><br/>
        <p><b>Pour commenter veuillez <a href="{{ path('fos_user_security_login') }}">vous connecter</a></b></p>
    {% endif %}

    {% if listMessages is not empty  %}
        <h2>Commentaires pour <i>{{ post.title }}</i></h2>
    {% else %}
        <h2>Pas encore de commentaires pour <i>{{ post.title }}</i></h2>
    {% endif %}

    <ul>
        {% for message in listMessages %}
            <div class="row">
                <div class="message">
                    <div class="col-md-2 text-center">
                        <img src="{{ asset('assets/images/pp2.jpg') }}" width="100px" height="100px" alt="pp" class="img-responsive center-block">
                        <h3>{{ message.autor }}</h3>
                    </div>
                    <div class="col-md-10">
                        <p>
                            {{ message.content }}
                        </p>
                        {% if(is_granted('ROLE_ADMIN')) %}
                            <a href="{{ path('message_delete', { 'id': message.id }) }}">Supprimer</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr/>
        {% endfor %}
    </ul>
    {% if is_granted('ROLE_ADMIN') or isAutor %}
    <ul>
        <li>
            <a href="{{ path('post_edit', { 'id': post.id }) }}">Editer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-primary" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {% endif %}
</div>
<script>
    $('.area_comment').on('change keyup keydown paste cut', function (){
        $(this).height(0).height(this.scrollHeight);
    }).find('textarea').change();
</script>
{% endblock %}